@charset "UTF-8";
.browser-panel {
    margin-top: 44px;
}
.browser-panel p {
    color: #aaaaaa;
}
.browser a {
    cursor: pointer;
    display: block;
}
.browser p.nav-title {
    display: block;
}
.browser div.item {
    cursor: pointer;
}

.browser .items-container {
    max-width: 20rem;
    /*border: 2px solid #000;*/
    /*border-radius: .25rem;*/

}

.browser .item {
    padding: .55rem .5rem;
    /*background: -webkit-linear-gradient(left, #ededed 0%, #f6f6f6 47%, white 100%);*/
    /*background: linear-gradient(to right, #ededed 0%, #f6f6f6 47%, white 100%);*/
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
}

/*a.item:after {*/
    /*content: '→';*/
    /*float: right;*/
/*}*/
.browser .menu-item {
    position: relative;
    text-overflow: ellipsis;
}
.browser .item:hover {
    background: #eee;
}
.browser .menu-navbar {
    border-bottom: 1px solid;
    border-color: #eee;
    text-align: center;
    line-height: 20px;
    height: 30px;
    padding: 0 10px;
    margin: 0;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
}
.browser .nav-arrow {
    box-sizing: border-box;
    width: 40px;
    height: 30px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.browser .nav-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 5px 0;
    color: #aaa;
}
.browser i.zmdi-chevron-left {
    font-size: 18px;
    font-style: normal;
    text-indent: 0;
    line-height: 20px;
    /*display: block;*/
    margin-right: 10px;
    left: 0;
    padding: 7px 0;
    color: #aaa;
}

.browser i.zmdi-chevron-right {
    font-size: 18px;
    font-style: normal;
    text-indent: 0;
    line-height: 20px;
    display: block;
    margin-top: -10px;
    position: absolute;
    right: 5px;
    top: 50%;
    color: #aaa;
}
.browser .menu-item > i.zmdi,
.browser .item > i.zmdi {
    margin-left: 10px;
    margin-right: 35px;
    font-size: 22px;
    width: 22px;
    height: 22px;
    text-align: center;
}

/* Generic slider styles */
.browser .slider-outer-wrapper {
    position: relative;
    overflow: hidden;
    -webkit-transition: max-height .2s ease-in;
    transition: max-height .2s ease-in;
}

.browser .slider-transition-group {
    width: 200%;
    overflow: hidden;
}

.browser .slider-inner-wrapper {
    width: 50%;
    float: right;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.slider-inner-wrapper:first-child {
    position: relative;
    left: -50%;
}

.browser .slider-right-enter {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.browser .slider-left-enter {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.browser .slider-right-enter-active,
.browser .slider-left-enter-active,
.browser .slider-right-leave,
.browser .slider-left-leave {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.browser .slider-right-leave-active {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.browser .slider-left-leave-active {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
